:root{
    --fontDarkColor: #464646;
    --darkBlue: #2A7AE4;

    --backgroundWhite: #FFFFFF;
    --backgroundLightGreen: #f4fcf4;
    --backgroundLightBlue: #EAF2FD;
    --starTitle: 'Minecraft Evenings';
    --titles: 'Press Start 2P', cursive;
    --text: 'M PLUS Code Latin', sans-serif;;
}
@font-face {
    font-family: 'Valorax';
    src: url(/assets/Valorax.otf);
}
@font-face {
    font-family: 'Minecraft Evenings';
    src: url(/assets/Minecraft.ttf);
}
.whole{
    background: var(--backgroundLightGreen);
}
  
/*titulos grandes*/
.banner__titulo{
    font-family: var(--starTitle);
}
.galeria__productos--title{
    font-weight: 700;
    color: var(--fontDarkColor);
    font-family:  var(--titles);
}
.destacado{
    font-weight: bolder;
}
.btn{
    font-family: var(--text);
    border: 2px solid transparent;
    background-color: transparent;
}
.input{
    font-family: var(--text);
    padding: 1rem 0 1rem 1rem;
    border: 2px solid transparent;
    background-color: transparent;
}


