:root{
    --fontDarkColor: #464646;
    --darkBlue: #2A7AE4;

    --backgroundWhite: #FFFFFF;
    --backgroundDirt: #dd914549;
    --backgroundLightBlue: #EAF2FD;
    --niceGreen: #dafccc68;
    --neonGreen: #39FF14;
    --starTitle: 'Minecraft Evenings';
    --titles: 'Press Start 2P', cursive;
    --text: 'M PLUS Code Latin', sans-serif;
    --credits: 'Valorax';
}
@font-face {
    font-family: 'Valorax';
    src: url(/assets/Valorax.otf);
}
@font-face {
    font-family: 'Minecraft Evenings';
    src: url(/assets/Minecraft.ttf);
}
.whole{
    background: var(--backgroundDirt);
}
  
/*titulos grandes*/
.banner__titulo{
    font-family: var(--starTitle);
}
.galeria__productos--title{
    font-weight: 700;
    color: var(--fontDarkColor);
    font-family:  var(--titles);
}
.destacado{
    font-weight: bolder;
}

/*botones general*/
.btn{
    font-family: var(--text);
    border: 2px solid transparent;
    background-color: transparent;
    transition: all .5s ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}

/*areas de input texto*/
.input{
    font-family: var(--text);
    padding: 1rem 0 1rem 1rem;
    border: 2px solid transparent;
    background-color: transparent;
    transition: all .5s ease-in-out;
}
.input:focus{
    outline: none;
}



