header.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.menu__menu{
    display: flex;
    justify-content: space-between;
}
.menu__logo{
    display: flex;
    gap: 1rem;
}
.menu__logo_logo{
    background: url(/assets/cat_banner) no-repeat center;
    background-size: contain;
    height: 4rem;
    width: 6rem;
}
.menu__logo_leyenda{
    font-weight: 500;
    font-family: var(--titles);
    text-transform: uppercase;
    align-self: center;
}