a.home{
    cursor: pointer;
}
.galeria.productos{
    margin-top: 6rem;
}
/* .galeria__productos_items:hover{
    
    transform: scale(0);
    background-color: rgba(240, 248, 255, 0.6);
    box-shadow: 6px 8px 18px var(--backgroundLightBlue);
    
} */
.galeria__productos_box{
    display: flex;
    gap: 6rem;
}
.galeria__productos_items{
    margin-bottom: 3rem;
}
/* botones de editar eliminar pag admin */
.btnContainer /*contenedor de botones*/
{
    display: flex;
    justify-content: space-evenly;
}
.btnContainer>span{
    color: var(--fontDarkColor);
    display: block;
}
.edit_products, .delete_products{
    cursor: pointer;
    margin: 0;
}
.edit_products:active,
.delete_products:active{
    transition: all .3s;
    transform: scale(.8);
}
