.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16vh 0;
    /* width: 70vw; */
    
}
.loginForm{
    display: flex;
    justify-content: center;
    padding: 3vh 2vw;

    border-radius: 2.375rem;
    background-color: rgba(167, 184, 145, 0.917);
    box-shadow: 5px 5px 10px #fbf8dfd7, -5px -5px 10px #fbf8dfd7;
    transition: all .5s;

    &:hover{
        box-shadow: 10px 10px 25px #fbf8dfd7, -10px -10px 25px #fbf8dfd7, 9px -9px 25px #fbf8dfd7, -9px 9px 25px #fbf8dfd7;
    }
}
@media screen and (min-width:0){
    .loginForm{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width:1024px){
    .loginForm{
        flex-direction: row;
    }
}