li.inputContainer {
        display: flex;
        background: var(--backLightBlueTransparent);
        gap: 1rem;
        border-radius: calc(1rem + 1vw);
        padding: 2vh 2vw 2vh 1vw;
        /* padding: 1rem 0 1rem 1rem; */

        & input.formInput {
                

                &::placeholder{
                        text-align: left;
                        /* font-size: 2.55vh; */
                }
        }
}
span.material-symbols-rounded {
        display: flex;
        align-items: center;
        font-size: 1.75rem;
}
a.entrar {
        display: flex;
        justify-content: center;
        color: var(--fontDarkColor);
        font-weight: 600;
        background-color: var(--darkBlue);
        border-radius: calc(1rem + .5vw);
        padding: 2vh 0;
        /* font-size: 2.55vh; */
}



/*RESPONSIVE*/

@media screen and (min-width:0) and (max-width:413px) {
       input.formInput::placeholder{
                text-align: left;
                font-size: 2.55vh;
                
        }

        a.entrar {
                padding: 2vh 0;
                font-size: 2.55vh;
        }
}/*
@media screen and (min-width:414px) and (max-width:709px){
        .formInput::placeholder{
                font-size: calc(1rem - .5vw);
        }
        .inputContainer, a.entrar{
                padding: calc(1rem - 2vw);
        }
}
@media screen and (min-width:710px) and (max-width:1023px) {
        li.inputContainer{
                padding: calc(1rem - 1vw);
        }
        .formInput::placeholder{
                font-size: calc(1rem + .8vw);
        }
        .inputContainer, a.entrar{
                padding: calc(1rem - .1vw);
        }
}*/
@media screen and (min-width:1024px) {
        input.formInput::placeholder{
                font-size: 3vh;}

        a.entrar {
                font-size: 3.5vh;
        }
}