body{
    background: url(/assets/cats__stores.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--titles);
}
.home{
    font-weight: 600;
    color: var(--fontDarkColor);
    text-shadow: 2px 2px 8px black;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.container{
    display: flex;
    padding-left: 1rem;
    align-items: center;
    gap: .5rem;
    background-color: var(--backLightBlueTransparent);
}
.logo{
    width: 2.735rem;
    height: auto;
}


.loginForm{
    display: flex;
    flex-direction: row-reverse;
    padding: 2.735rem;
    gap: 7.375rem;
    align-items: center;
    border-radius: 2.375rem;
    background-color: rgba(167, 184, 145, 0.917);
    box-shadow: 5px 5px 10px #fbf8dfd7, -5px -5px 10px #fbf8dfd7;
    transition: all .5s;

    &:hover{
        box-shadow: 10px 10px 25px #fbf8dfd7, -10px -10px 25px #fbf8dfd7, 9px -9px 25px #fbf8dfd7, -9px 9px 25px #fbf8dfd7;
    }
    
}
.catLogo{
    height: auto;
    width: 28rem;
    border-radius: 1.735rem;
    opacity: 0.8;
    transition: all .3s;

    &:hover{
        opacity: 1;
    }
}
.form__izq{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form__title{
    text-transform: uppercase;
    font-family: var(--starTitle);
    font-size: larger;
    letter-spacing: .2375rem;
    margin-bottom: 1rem;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
span.material-symbols-rounded{
    display: flex;
    gap: .5rem;
    align-items: center;
    background: var(--backLightBlueTransparent);
    border-radius: 1.735rem;
    padding-left: .5rem;
}
input{
    border: 2px solid transparent;
    background-color: transparent;
    padding: .735rem;

    &:focus{
        outline: none;
    }

}
.entrar{
    display: flex;
    justify-content: center;
    color: var(--fontDarkColor);
    font-weight: 600;
    background-color: var(--darkBlue);
    border-radius: 1rem;
    padding: .5rem;
}
.rodapie{
    font-family: var(--credits);
    /* margin-top: auto; */
    align-items: center;
    background-color: var(--backLightBlueTransparent);

}