body{
    margin: 0;
    display: block;
    background: url(/assets/cats__stores.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--titles);
}
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* justify-content: space-between; */
    margin: 0;
    /* overflow-y: hidden; */
}
input{
    border: 2px solid transparent;
    background-color: transparent;
    /* min-width: 50%; */

    &:focus{
        outline: none;
    }

}

.rodapie{
    font-family: var(--credits);
    margin-top: auto;
    align-items: center;
    background-color: var(--backLightBlueTransparent);
}
