body{
    background: url(/assets/cats__stores.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--titles);
}
.home{
    font-weight: 600;
    color: var(--fontDarkColor);
    text-shadow: 2px 2px 8px black;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    border: 2px solid transparent;
    background-color: transparent;
    min-width: 50%;

    &:focus{
        outline: none;
    }

}

.rodapie{
    font-family: var(--credits);
    margin-top: auto;
    align-items: center;
    background-color: var(--backLightBlueTransparent);
}

@media screen and (min-width:0) and (max-width:414px) {
    input{
        padding: 0;
    }
    .rodapie{
        font-size: .7rem;
    }
}
@media sreen and (min-width:760px){
   
}