.loginForm{
    /* flex-grow: 1; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 0;
    margin: 5.75rem;
    /* padding: calc(3.735rem - 10vw); */
    /* gap: 7.375rem; */
    border-radius: 2.375rem;
    background-color: rgba(167, 184, 145, 0.917);
    box-shadow: 5px 5px 10px #fbf8dfd7, -5px -5px 10px #fbf8dfd7;
    transition: all .5s;

    &:hover{
        box-shadow: 10px 10px 25px #fbf8dfd7, -10px -10px 25px #fbf8dfd7, 9px -9px 25px #fbf8dfd7, -9px 9px 25px #fbf8dfd7;
    }
    
}
form{
    display: flex;
    flex-direction: column;
}




/*responsive*/




@media screen and (min-width:0) and (max-width:413px) {
    .loginForm{
        flex-direction: column;
        gap: 1.5rem;
        margin: 2rem 1rem;
        padding: 1rem;
        /* border-radius: 3rem; */
        /* width: calc((100% - 20%) - 1rem); */
    }
}
@media screen and (min-width:414px) and (max-width:767px) {
    .loginForm{
        flex-direction: column;
        margin: 2.75rem;
        padding: 2rem;
        gap: 1.753rem;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .loginForm{
        display: flex;
        flex-direction: column;
        gap: 2.735rem;
        margin: 6rem 2.735rem;
        padding: 2.735rem;
    }

}
@media screen and (min-width:1024px) and (max-width:1279px) {
    .loginForm{
        flex-direction: row;
        /* padding: calc(2rem - 1vw); */
        align-items: center;
        margin: calc(6rem - 1vw);
    }
}
