.piePag__logo {
    align-items: flex-end;
}

.piePag__logo_leyenda {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    margin-bottom: 5.735rem;
}
}

@media screen and (min-width:0) {
    .piePag__logo {
        justify-content: center;
        margin-bottom: 1rem;
    }

    .piePag__logo_logo {
        width: calc((100% - 3%) /2);
        height: auto;
        /* calc((100% - 20%) / 2); */
    }

    .piePag__logo_leyenda {
        font-size: .8rem;
        align-items: baseline;
        margin-bottom: 3.9%;
    }

}

@media screen and (min-width:410px) {
    .piePag__logo {

        margin-bottom: 1.375rem;
    }

    .piePag__logo_logo {
        width: calc((78% - 8%) / 2);
        height: auto;
        /* calc((100% - 40%) / 2); */
    }

    .piePag__logo_leyenda {
        font-size: .8rem;
        margin-bottom: 3.7%;
    }

}

@media screen and (min-width:710px) {
    .piePag__logo {
        justify-content: flex-start;
        align-items: center;
    }

    .piePag__logo_logo {
        width: calc((100% - 30%) / 2);
    }

    .piePag__logo_leyenda {
        font-size: .8rem;
        margin-top: 1rem;
    }

}

@media screen and (min-width:1024px) {



    .piePag__logo_logo {
        width: 10rem;
        height: 8rem;
    }

    .piePag__logo_leyenda {
        font-size: 1.35rem;
        margin-bottom: 4.7%;
    }

}

@media screen and (min-width:1224px) {



    .piePag__logo_logo {
        width: 15rem;
        height: 13rem;
    }

    .piePag__logo_leyenda {
        font-size: 2.75rem;
        /* margin-bottom: 4.7%; */
        letter-spacing: .65rem;
    }

}