.piePag__logo{
    align-items: flex-end;

    & .piePag__logo_logo{
        width: 16rem;
        height: 16rem;
    }
    & .piePag__logo_leyenda{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
        margin-bottom: 5.735rem;
    }
}
@media screen and (min-width:0) {
    .piePag__logo{
        display: none;
    }
}
