.piePAg__item_link{
    color: var(--fontDarkColor);
    font-weight: 600;

    & span {
        background-color: var(--backgroundLightBlue);
        
        &::after{
            content: "";
            position: absolute;
            bottom: -5px;
            height: 2px;
            width: 100%;
            left: 0;
            background-color: var(--fontDarkColor);
            transition: 0.3s;
            transition-timing-function: ease-in-out;
            transform: scaleX(0);
        }
        &:hover::after{
            transform: scaleX(1);
        }
    }
}

@media screen and (min-width:0) {
    .piePAg__item_link{
        color: var(--fontDarkColor);
        font-weight: 600;
    
        & span {
            font-size: .8rem;
        }
    }
}
  
