.menu{
    display: flex;
    gap: 1rem;
}
.menu__logo{
    align-items: center;
}
.menu__logo_logo{ 
    height: 4rem;
    width: 6rem;
    background-position: center;
}
.menu__logo_leyenda_text{
    margin-bottom: .5rem;
}
