.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.menu__menu{
    display: flex;
    justify-content: space-between;
}
.menu__btn_login{
    border: 2px solid transparent;
    background: linear-gradient(48deg, rgba(227, 43, 74, 0.2), rgba(128, 0, 128, 0.2));
    border-radius: 4rem;
    padding: 1rem;
    width: 8.735rem;
    transition: all .5s ease-in-out;
}
.menu__btn_login:hover{
    transform: scale(1.1);
}
.menu__btn_login__text{
    font-weight: 700;
    color: var(--fontDarkColor);
}