.menu{
    position: fixed;
    top: 0%;
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundDark);
    width: 93%;
    z-index: 1;
    padding-bottom: .5rem;

    & .menu__menu{
        display: flex;
        justify-content: space-between;
    }

    & .menu__btn_login{
        border: 2px solid transparent;
        background: linear-gradient(48deg, rgba(227, 43, 74, 0.477), rgba(128, 0, 128, 0.477));
    }

    & .menu__btn_login__text{
        font-weight: 700;
        color: var(--fontDarkColor);
    }
}


@media screen and (min-width:0) {
    .menu{
        align-items: center;
        padding: 1rem;
        gap: .5rem;

        & .menu__menu{
            align-items: center;
        }
        & .menu__btn_login{
            border-radius: 1rem;
        }
        & .menu__btn_login__text{
            font-size: .8735rem;
        }
    }
}

@media screen and (min-width:410px) {
    .menu{
        align-items: center;
        padding: 1rem 1.735rem;
        gap: .5rem;

        & .menu__menu{
            align-items: center;
        }
        & .menu__btn_login{
            border-radius: 2rem;
            padding: .8735rem;
        }
        & .menu__btn_login__text{
            font-size: 1rem;
        }
    }
}
@media screen and (min-width:710px) {
    .menu{
        padding: 1rem 3.735rem;
    }
}
@media screen and (min-width:1024px) {
    .menu{
        padding: 1rem 3.735rem;
     
        & .menu__btn_login{
            border-radius: 4rem;
            padding: 1rem; 
            width: 8.735rem;
        }
    
    }
}
@media screen and (min-width:1220px) {
    .menu{
        padding: 1rem 3.735rem;
     
        & .menu__btn_login{
            border-radius: 4rem;
            padding: 1rem; 
            width: 8.735rem;
        }
    
    }
}