.menu {
    position: fixed;
    top: 0%;
    left: 0;
    display: flex;
    justify-content: space-between;
    background: var(--backgroundDirt);
    /* width: 100%; */
    z-index: 1;
    padding-bottom: .5rem;
}

.menu__menu {
    display: flex;
    justify-content: space-between;
}

.menu__btn_login {
    border: 2px solid transparent;
    background: linear-gradient(48deg, rgb(227, 43, 74), rgba(128, 0, 128));
}

.menu__btn_login__text {
    font-weight: 700;
    color: var(--fontLightColor);
}

.menuBienvenido {
    display: flex;
    font-size: 3rem;
    padding-right: 3rem;
}



@media screen and (min-width:0) {
    .menu {
        /* align-items: center; */
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: .5rem;
        width: 100vw;
    }

    .menu__menu {
        align-items: center;
    }

    .menu__btn_login {
        border-radius: 1.3rem;
        margin-right: 1rem;
    }

    .menu__btn_login__text {
        font-size: .8735rem;
    }

}

@media screen and (min-width:410px) {
    .menu {
        align-items: center;
        padding: 1rem 1.735rem;
        gap: .5rem;
    }

    .menu__menu {
        align-items: center;
    }

    .menu__btn_login {
        margin-right: 14vw;
        border-radius: 2rem;
        padding: .8735rem;
    }

    .menu__btn_login__text {
        font-size: 1rem;
    }

}

@media screen and (min-width:710px) {
    .menu {
        padding: 1rem 3.735rem;
    }

    .menu__btn_login {
        /* margin-right: 15.75vw; */
    }

}

@media screen and (min-width:1024px) {
    .menu {
        padding: 1rem 3.735rem;
    }

    .menu__btn_login {
        border-radius: 4rem;
        padding: 1rem;
        width: 8.735rem;
    }


}

@media screen and (min-width:1220px) {
    .menu {
        padding: 1rem 0;
    }

    .menu__btn_login {
        border-radius: 4rem;
        padding: 1rem;
        width: 8.735rem;
        /* margin-right: 8.75vw; */
    }


}