.callToAction{
    display: flex;
    justify-content: center;
}

@keyframes bouncy{  
    0%{
        /* position inicial */
        transform: translateY(0);
    }
    50%{
        /* posicion arriba */
        transform: translateY(25px);
    }
    100%{
/* posicion origial de nuevo */
        transform: translateY(0);}
}

.arrowDown{
    /* position: absolute; */
    /* top: 34.8125rem; */
    width: 10vw;
    height: 10vh;
    font-size: 10rem;
    color: var(--fontLightColor);
    font-family: var(--starTitle);

    animation: bouncy 1s ease-in-out infinite;
}

