.galeria{
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}
.galeria__productos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.galeria__productos_titleBox{
    display: flex;
    justify-content: space-between;
    text-indent: 1rem;
}
.galeria__productos_box{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    /*overflow: hidden;*/
}