.galeria__productos_items{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: all .5s;
    border-radius: 0 1rem 0 0;
    border: 2px solid transparent;
    background-color: rgba(240, 248, 255, 0.4);

    &:hover{
        transform: scale(1.1);
        background-color: rgba(240, 248, 255, 0.6);
        box-shadow: 6px 8px 18px var(--backgroundLightBlue);
    }
}

.galeria__productos_items__foto{
    border-radius: 0 1rem 0 0;
}
.galeria__productos__textCard{
    margin: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.galeria__productos_items__nombre
.galeria__productos_items__precio

.galeria__productos--link{
    color: var(--fontDarkColor);
    background-color: var(--backgroundLightBlue);
    width: fit-content;
    align-items: flex-end;
}


.galeria__productos--verTodo{
    border: 2px solid transparent;
    border-radius: .5rem;
    background-color: rgba(240, 255, 255, 0.5);
    transition: all .2s;

    &:hover{
        font-weight: 600;
    }
}