.galeria{
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}
.galeria__productos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.galeria__productos_titleBox{
    display: flex;
    justify-content: space-between;
}
.galeria__productos_box{
    display: flex;
    gap: .8rem;
    justify-content: space-between;
}