.galeria{
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}
.galeria__productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.galeria__productos_titleBox{
    display: flex;
    justify-content: space-between;
}
.galeria__productos_box{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}