form.add_NewProduct{
    background: url(/assets/cats__stores.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    /* background-clip: border-box; */
    font-family: var(--logoFont);
    font-weight: 700;
}
.add_NewProduct{
    margin-top: 5.25rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2rem 4rem;
    border-radius: 4rem;
    background-color: var(--niceGreen);
    box-shadow: 5px 5px 8px var(--shadowDark),
        -5px 5px 8px var(--shadowDark),
        5px -5px 8px var(--shadowDark);
}
fieldset h1{
    font-family: var(--starTitle);
}